{% load static %}
{% block content %}
    <div class="lms_footer_center">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-3 col-md-6 col-sm-6">
                	<div class="lms_footer_logo">
                    	<img src="{% static 'user/images/find_tutor.png' %}" width="184" height="60" alt="footer logo"/>
                    </div>
                    <p>FindTutor is the ideal way for high school and college students as well as younger learners to find a specialized tutor in the subject(s) they struggle with most. With more than 100,000 tutors in cities across the globe, you can find tutoring services quickly and easily. Whether in-person or online tutoring services are needed, it’s always free to contact a tutor at FindTutor.com.</p>
                    
                    <div class="lms_social">
                        <ul>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                          </ul>
                  </div>
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!-- <div class="lms_footer_popular_course">
                        <h3>Popular Course</h3>
                          <div class="lms_footer_course">
                            <img src="{% static 'user/images/footer/popular_course1.jpg' %}" alt="Popular Course"/>
                              <a href="#"><h4>Donec velit diam</h4></a>
                              <p>Integer triagna. Praesent bibendum quam....</p>
                          </div>
                          
                          <div class="lms_footer_course">
                            <img src="{% static 'user/images/footer/popular_course2.jpg' %}" alt="Popular Course"/>
                              <a href="#"><h4>Donec velit diam</h4></a>
                              <p>Integer triagna. Praesent bibendum quam....</p>
                          </div>
                          
                      </div> -->
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="lms_footer_course_category">	
                    <h3>Course Categories</h3>
                    <ul>
                      <li><a href="#">College</a></li>
                        <li><a href="#">School</a></li>
                    </ul>
                  </div>  
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-6">
                	<div class="lms_footer_contact">
                    	<h3>Contacts</h3>
                        <p>L J </p>
                        <p class="lms_address"><span class="lms_theme_color">Address :</span> Sanand - Sarkhej Chowkdi,Ahmedabad.
</p>
            <p class="lms_phone"><span class="lms_theme_color">Phone no :</span> +91 7405764320</p>		
                        <p class="lms_fax"><span class="lms_theme_color">Fax no :</span> +00 1234 56789</p>
                        <p class="lms_email"><span class="lms_theme_color">Email id :</span> <a href="mailTo:admin@findtutor.com">admin@findtutor.com</a></p>
                    </div>
                </div>
                
                
            </div>
        </div>	
    </div>
    <div class="lms_footer_bottom">
    	<p>© 2019 Find Tutor</p>
    </div>
    <a href="#" class="scrollToTop"><i class="fa fa-arrow-up"></i></a>
{% endblock %}
    <!--main js file start--> 
    <script type="text/javascript" src="{% static 'user/js/jquery-1.11.1.js' %}"></script> 
    <!--plugin--> 
    <script type="text/javascript" src="{% static 'user/js/plugin/appear/jquery.appear.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/plugin/count/jquery.countTo.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/plugin/mediaelement/mediaelement-and-player.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/plugin/mixitup/jquery.mixitup.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/plugin/modernizr/modernizr.custom.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/plugin/owl-carousel/owl.carousel.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/plugin/parallax/jquery.stellar.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/plugin/prettyphoto/js/jquery.prettyPhoto.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/plugin/revslider/js/jquery.themepunch.plugins.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/plugin/revslider/js/jquery.themepunch.revolution.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/plugin/single/single.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/plugin/wow/wow.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/grid-gallery.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/bootstrap.js' %}"></script> 
    <script type="text/javascript" src="{% static 'user/js/custom.js' %}"></script> 
    <!--main js file end-->
    